__pycache__/
.env
.eggs
.egg-info
dist
build
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache
samples
audio
static/audio
static/videos
.pytest_cache
